*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 1vw;
  scroll-behavior: smooth;
}
body {
  font-family: "Oswald", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  vertical-align: baseline;
  position: relative;
  background: #001609;
  overflow-x: hidden;
  height: fit-content;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 4.267vw;
  }
}
/* Custom thanh cuộn */
html::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
  width: 0.45rem;
}

html::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--Fill-Primary, #72bd58);
  border-radius: 1.5rem;
}

/* Ẩn thanh cuộn */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: currentColor !important;
}

/* Ẩn nút tăng/giảm trên tất cả trình duyệt */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

/* Ẩn trên WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Define */
.container {
  width: 72.15rem;
  max-width: 72.15rem;
  margin-left: auto;
  margin-right: auto;
}
.h2 {
  color: #ffd966;
  text-align: center;
  font-size: 2.66875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 149.883% */
}
.h3 {
  color: #ffd966;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem; /* 150% */
}
/* ----------------------start header---------------------- */
header {
  height: 100vh;
  width: 100%;
  position: relative;
}
#video__banner {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.header__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background: linear-gradient(180deg, rgba(0, 22, 9, 0) 0%, #001609 100%);
}
/* ----------------------end header---------------------- */
/* ----------------------start top best---------------------- */
.top__best__content {
  width: 58.8rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.15rem;
}
.top__best__content .description {
  color: #fff;
  font-size: 1.16875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 149.733% */
  margin-top: 1.12rem;
}

.top__best__content .description:first-child {
  margin-top: 0;
}
.top__best__heading {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.84rem;
}

.top__best__image {
  width: 100%;
  height: calc(48.9375rem + 4.93rem);
  position: relative;
  margin-top: 0.59rem;
}
.top__best__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top__best__information {
  width: 60.2rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 4.93rem);
  z-index: 10;
}
.top__best__information .information__detail {
  width: fit-content;
  height: 11.6rem;
  padding-top: 0.63rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.top__best__information .information__detail.champion {
  padding-top: 0;
}
.information__detail .award {
  background: radial-gradient(
    41.29% 41.29% at 50% 50%,
    #f4de95 0%,
    #d8a65b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.22419rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.833rem; /* 149.733% */
  letter-spacing: -0.01225rem;
}
.information__detail .name {
  background: radial-gradient(
    41.29% 41.29% at 50% 50%,
    #f4de95 0%,
    #d8a65b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.80794rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.707rem; /* 149.733% */
  letter-spacing: -0.01806rem;
  display: inline-block;
  margin-bottom: 0.26rem;
}
.information__detail.champion .name {
  margin-top: 0.31rem;
}
.information__detail .position {
  background: radial-gradient(
    41.29% 41.29% at 50% 50%,
    #f4de95 0%,
    #d8a65b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.16169rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.73944rem; /* 149.733% */
  letter-spacing: 0.01163rem;
}
.information__detail .btn__view__more {
  border-radius: 1.875rem;
  background: linear-gradient(90deg, #19e3d9 0%, #0e7d77 100%);
  box-shadow: 0px -3px 37.5px 0px rgba(24, 219, 209, 0.31);
  height: 3.125rem;
  padding: 0 2.25rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}
/* ----------------------end top best---------------------- */
/* ----------------------start manager---------------------- */
#manager {
  margin-top: 13.93rem;
  position: relative;
}
.grid__manager {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.66rem 3.9rem;
  margin-top: 2.1rem;
}
.slides__manager{
  display: none;
}
.grid__manager .card__manager img {
  width: 100%;
  height: 28.95rem;
  object-fit: cover;
}
.grid__manager .card__manager button {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0 1.38rem;
  border-radius: 1.875rem;
  border: 0.75px solid rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  height: 2.38rem;
  color: #f9f9f9;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1025px)  {
  .grid__manager .card__manager button:hover {
    background: linear-gradient(90deg, #19E3D9 0%, #0E7D77 100%);
    box-shadow: 0px -3px 37.5px 0px rgba(24, 219, 209, 0.31);
    border-color: #0E7D77;
  }
}
/* ----------------------end manager---------------------- */
/* ----------------------start search page---------------------- */
#search__page{
  width: 37.0625rem;
  height: 3.375rem;
  padding: 0 1.1875rem;
  border-radius: 1.875rem;
  border: 0.75px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18.75px);
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -4rem);
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
#search__page .icon{
  width: 1.49669rem;
  height: 1.49669rem;
  flex-shrink: 0;
  object-fit: contain;
  margin-right: 0.62rem;
}
#search__page input{
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#search__page input::placeholder{
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ----------------------end search page---------------------- */
/* ----------------------start result---------------------- */
#result {
  display: none;
  width: 100%;
}
/* ----------------------end result---------------------- */

.section-group {
  padding: 1.25rem;
  margin-bottom: 2rem;
}
.section-group .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-group .section-title .title {
  color: #ffd966;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 150% */
}

.section-group .section-title .sub-title {
  color: #ffd966;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 150% */
}
.section-group .filter-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0.625rem;
  width: fit-content;
  margin-top: 2rem;
}
.section-header {
  /* margin-bottom: 1.25rem; */
}
.filter-tab button {
  margin-right: 0.69rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: all 0.3s;
}
.filter-tab button.active {
  border-radius: 1.875rem;
  background: linear-gradient(90deg, #19e3d9 0%, #0e7d77 100%);
  box-shadow: 0px -3px 37.5px 0px rgba(24, 219, 209, 0.31);
  color: #fff;
}
.section-group .container2 > .grid-container,
#result .container .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.85rem;
  row-gap: 2.87rem;
  margin-top: 1.5rem;
}
.post-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-item img {
  max-width: 100%;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.post-item .post-title {
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 0.88rem;
}
.post-item .view-more-btn {
  color: #f9f9f9;
  font-family: Oswald;
  font-size: 1rem;
  display: flex;
  padding: 0.375rem 1.375rem 0.5rem 1.375rem;
  align-items: flex-start;
  gap: 0.625rem;
  background-color: transparent;
  border-radius: 1.875rem;
  border: 0.75px solid rgba(255, 255, 255, 0.4);
  line-height: normal;
}
.post-item .post-role {
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  margin-bottom: 0.88rem;
}
.filter-group {
  border-radius: 3.75rem;
  background: rgba(255, 255, 255, 0.06);
}
.filter-group .filter-tab {
  display: flex;
}
.filter-tab button {
  display: flex;
  padding: 0.625rem 1.375rem 0.5rem 1.375rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1.875rem;
  border: 0.75px solid rgba(255, 255, 255, 0.4);
}
.section-group .filter-group input {
  border-radius: 1.875rem;
  border: 0.75px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18.75px);
  padding-left: 2rem;
}
.section-group .filter-group input::placeholder {
  color: #fff;
  font-family: Oswald;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .section-group .section-title {
    /* margin-bottom: 1rem; */
  }
  .section-group .filter-group {
    flex-direction: column;
    margin-top: 0;
  }
  .section-group .filter-group input {
    height: 1.875rem;
    border-radius: 1.875rem;
    background-color: #626f67;
    border: 0.75px solid rgba(255, 255, 255, 0.4);
    padding-left: 2rem;
  }

  .section-group .filter-group .filter-tab {
    /* margin-top: 0.75rem; */
    overflow-x: auto;
    padding-top: 2rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section-group .filter-group {
    border-radius: unset;
    background: unset;
    padding: 0;
    width: 100%;
  }
  .section-group .section-title .title {
    color: #ffd966;
    text-align: center;
    font-family: Oswald;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.88338rem; /* 125.559% */
  }
  .section-group .section-title .sub-title {
    color: #ffd966;
    text-align: center;
    font-family: Oswald;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50669rem; /* 150.671% */
  }
  .section-group .container2 > .grid-container,
  #result .container .grid-container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.81rem;
    row-gap: 1.5rem;
    margin-top: 0;
  }
  .section-group.ba-group .container2 > .grid-container,
  #result .container .grid-container{
    margin-top: 1.5rem;
  }
  .post-item img {
    height: 10.1875rem;
  }
  .post-item .post-title {
    font-size: 0.75rem;
  }
  .post-item .post-role {
    font-size: 0.75rem;
  }
  .post-item .view-more-btn {
    font-size: 0.625rem;
    padding: 0.375rem 0.875rem 0.5rem 0.875rem;
  }
}
.popup {
  /* width: 81.5625rem; */
  overflow-y: auto;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background: #052010;
  padding: 2.62rem 10.27rem 5rem 2.62rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  transition: bottom 0.5s ease;
  z-index: 100;
}
.popup.show {
  bottom: 0;
}

.popup .popup-content {
  display: flex;
  gap: 4.28rem;
}
.popup .feature__image {
  width: 32.41456rem;
  height: 30.43006rem;
  border-radius: 1.25rem;
  object-fit: cover;
}
.popup .popup-close {
  border-radius: 1.5rem;
  background: #fff;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 2.37rem;
  right: 3.11rem;
  padding: 0.625rem 1rem 0.625rem 0.75rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup .popup-close svg {
  width: 0.70713rem;
  height: 0.70719rem;
  flex-shrink: 0;
}
.popup .popup-close span {
  color: #d8a65b;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
}
.popup .content-left .name {
  color: #ffd966;
  font-family: Oswald;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.31075rem;
  margin-bottom: 0.5rem;
}
.popup .content-left .role {
  color: #fff;
  font-family: Oswald;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.31075rem;
}
.popup .content-left__header {
  padding-bottom: 1.56rem;
  border-bottom: 0.03125rem solid rgba(255, 255, 255, 0.4);
  margin-bottom: 1.56rem;
}
.popup .main-content {
  max-height: 32.375rem;
  overflow-y: auto;
}
.popup .main-content p {
  margin-bottom: 1.5rem;
}
.popup .main-content {
  color: rgba(255, 255, 255, 0.7);
  font-family: Oswald;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.popup .main-content strong {
  color: #fff;
  font-family: Oswald;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
}
.popup .popup-close .frame-close-pc{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.popup-close .frame-close-mb{
  display: none;
}
@media screen and (max-width: 767px) {
  .popup {
    padding: 1.25rem;
    height: 80vh;
    padding-top: 2.44rem;
  }
  .popup .popup-content {
    gap: 0;
    flex-direction: column;
  }
  .popup .feature__image {
    width: 100%;
    height: 20rem;
    margin-bottom: 3rem;
    border-radius: 0.75rem;
  }
  .popup .content-left .name {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    line-height: normal;
  }
  .popup .content-left .role {
    font-size: 1.25rem;
  }
  .popup .main-content {
    max-height: unset;
  }
  .popup .popup-close {
    right: unset;
    top: 0;
    background: transparent;
    width: 10.46875rem;
    height: 2.0625rem;
    left: 50%;
    flex-shrink: 0;
    transform: translateX(-50%);
    right: unset;
    padding: 0;
  }

  .popup .popup-close .frame-close-pc{
    display: none;
  }
  .popup-close .frame-close-mb{
    display: block;
  }
  .popup-close .frame-close-mb svg {
    width: 100%;
    height: 2.0625rem;
  }
  .popup-close .frame-close-mb svg:last-child{
    width: 2rem;
    height: 2rem; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}


/* ==================================================================================================*/
/* #top__best,
#manager{
    display: none;
} */
#manager{
    margin-bottom: 6rem;
}
.section-group{
    padding: 0;
    margin-bottom: 4.5rem;
}
.section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-group .section-title{
    /* margin-bottom: 2rem; */
}
.section-group .filter-group{
    justify-content: center;
    
}
.filter-tab button{
    color: #FFF;
    font-family: Oswald;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.filter-tab button:last-child{
    margin-right: 0;
}
.section-group .container2 > .grid-container{
    /* margin-top: 1.5rem; */
}
.post-item img{
    height: 16.65063rem;
}
.image-footer{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .image-footer{
        height: 5rem;
    }
    .post-item img{
        height: 10.1875rem;
    }
    .container{
        max-width: unset;
        width: 100%;
    }
    .section-group{
        margin-bottom: 3.62rem;
    }
    .filter-tab button{
        padding: 0.375rem 0.75rem 0.5rem 0.75rem;
        display: flex;
        flex-shrink: 0;
    }
    .filter-group{
        position: relative;
    }
    .filter-group .overlay{
        position: absolute;
        width: 13.74831rem;
        height: 100%;
        right: 0;
        bottom: 0;
        background: linear-gradient(270deg, #001609 0%, rgba(1, 23, 10, 0.00) 100%);
        pointer-events: none;
    }
}

@media screen and (min-width: 768px) {
  .section-group.ba-group .grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}